<div class="tech-stack-container" id="tools">
    <div class="section-header">
        <h2>Tech ToolBox</h2>
        <p>Here are some of the technologies I have worked with:</p>

    </div>
    <div class="tech-container">
        <div class="md:w-1/4">
            <div class="card">
                <div (click)="selectCategory(category)" class="bubbly-tab select-none"
                    *ngFor="let category of categories" [ngClass]="{'active': activeCategory === category}">
                    <span class="material-symbols-outlined">{{category.icon}}</span>
                    <span>{{category.name}}</span>
                </div>

            </div>

        </div>
        <div class="dynamic-container">
            <div class="tab-content">
                <div
                    class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 md:gap-6">

                    <div class="skill-card" *ngFor="let skill of activeCategory.skills">
                        <div class="skill-icon-container">
                            <i [ngClass]="skill.icon"></i>
                        </div>
                        <h4>{{skill.name}}</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>