<div class="academic-container" id="roots">
    <div class="header">
        <h2>Academic Roots</h2>
        <p>Scattered snapshots of my learning journey.</p>
    </div>
    <div class="card-container">
        <!-- <div class="card">
            <div class="image">
                <span class="material-symbols-outlined">
                    school
                </span>
            </div>
            <div class="content">
                <span class="year-badge mint">2023 - 2025</span>
                <h3>Master's in CS</h3>
                <p>Advanced graphics, VR interaction, and real-time rendering magic.</p>

            </div>
        </div> -->

        <div class="card">
            <div class="image">

                <!-- <span class="material-symbols-outlined">
                    school
                </span> -->
            </div>
            <div class="content">
                <span class="year-badge mint"> POST-GRADUATION 2021 - 2023</span>
                <h3>Master of Computer Applications</h3>
                <p>An undergraduate foundation in computer science and application development. The program built strong fundamentals in programming, algorithms, databases, networking, and software design. It introduced practical software development workflows and hands-on projects, shaping my technical thinking and laying the groundwork for advanced study and professional engineering work</p>

            </div>
        </div>

        <div class="card">
            <div class="image">
                <!-- <span class="material-symbols-outlined">
                    school
                </span> -->
            </div>
            <div class="content">
                <span class="year-badge periwinkle">BACHELORS 2018 - 2021</span>
                <h3>Bachelor of Computer Applications</h3>
                <p>A postgraduate program focused on advanced software development, system design, and modern computing technologies. The course strengthened my expertise in programming, data structures, databases, web technologies, and software engineering principles. It emphasized problem-solving, real-world project development, and building scalable applications, preparing me to work confidently across full-stack and emerging tech environments</p>

            </div>
        </div>


    </div>
</div>